
        <footer class="l-footer">
          <ul class="nav">
            <li><a href="https://github.com/kachunchau/barebones-hammer">View on Github</a></li>
            <li><a href="https://github.com/kachunchau/barebones-hammer/raw/master/barebones.hammer">Get Hammer Template</a></li>
          </ul>
        </footer>
      </div>
    </div>
    
    <div class="overlay" id="overlay">
      <div class="table-cell">
        <div class="modal">
          <header class="modal-header">
            <h3 class="modal-title">About</h3>
          </header>
          
          <div class="modal-body">
            <p>I've included a lot of <a href="https://github.com/kachunchau/scss-boilerplate">abstrast classes</a> that I regularly use for my daily web projects. Instead of including jQuery I'm using Zepto because I've realised most of the time I'm just adding toggling classes. Did I say it's a Hammer template as well. I've included some basic styling to allow you to extend it yourself.</p>
            
            <p>When extending modules try to add styles instead of <a href="http://csswizardry.com/2012/11/code-smells-in-css/">undoing</a>.</p>
            
            <h4>Features</h4>
            
            <ul>
              <li>Uses 'normalize.css' by <a href="ttps://github.com/necolas">Nicolas Gallagher</a></li>
              <li>Uses Zepto instead of jQuery</li>
              <li>SMACSS structure</li>
              <li>Added module abstracts</li>
              <li>Media object by <a href="http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code">Nicole Sullivan</a></li>
              <li>Flag object by <a href="http://csswizardry.com/2013/05/the-flag-object/">Harry Roberts</a></li>
            </ul>
          </div>
          
          <footer class="modal-footer">
            <a class="btn btn--small modal-close" href="#none">Close</a>
          </footer>
        </div>
      </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script>window.Zepto || document.write('<script src="javascript/vendor/zepto.min.js"><\/script>')</script>
    <script src="javascript/plugins.js"></script>
    <script src="javascript/main.js"></script>
  </body>
</html>