/* =============================================================================

  $TYPOGRAPHY

============================================================================= */

/**
  * Paragraphs
  *
  */

p {
  margin-bottom: 1em;
}

p + p {
  text-indent: 1.0625em;
}

/**
  * Headings
  *
  */

h1, h2, h3 {
  font-weight: 500;
}

h1, .alpha {

}

h2, .beta {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

/**
  * Sizes
  */

.quiet {

}

.loud {

}

.louder {

}

/**
  * Context
  */

.title {

}

.sub-title {
  color: $base-color-lighter-30;
}