/* =============================================================================

  $HERO

============================================================================= */

.hero {

  @include respond-to(medium) {

    padding-top: 400px;
    padding-bottom: 230px;

  }

}

.hero-title {

  @include respond-to(medium) {
    font-size: 2.5em;
  }

}