/* =============================================================================

  $LOGO

============================================================================= */


.logo {
  display: block;
  text-align: center;
  text-decoration: none;

  @include respond-to(medium) {
    font-size: 3em;
  }

}