/* =============================================================================

  $COLOURS

============================================================================= */

$base-bg:                     rgb(253,253,253);

$base-color:                  rgb(85,81,83);

$base-link:                   rgb(217,24,69);

$base-color-lighter-30:       lighten($base-color, 30%);

$bg-white:                     rgb(255,255,255);