/* =============================================================================

  $COLOURS

============================================================================= */

$base-bg:             #fff;

$base-color:          #000;

$base-link:           green;

$base-link-hover:     red;

$base-link-active:    blue;