/* =============================================================================

  $VIEWPORTS

============================================================================= */

$small:               30em;   //480+ sm
$medium:              45em;   //720+ md
$large:               62.5em; //1000+ lg
$wide:                87.5em; //1400+ wi
$x-wide:              100em; //1600+ xw

/* =============================================================================

  $WIDTHS

============================================================================= */

$gutter:              20px;

$full:                100%;
$half:                50%;
$third:               33.333333%;
$quarter:             25%;
$fifth:               20%;

$three-quarters:      ($quarter * 3);
$three-fifths:        ($fifth * 3);
$two-fifths:          ($fifth * 2);
$two-thirds:          ($third * 2);

/* =============================================================================

  $TYPOGRAPHY

============================================================================= */

$base-font-size:      16px;
$base-line-height:    1em;

$sans-serif:          'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:               'Georgia', Times New Roman, serif;

$base-h1:             1em;
$base-h2:             1em;
$base-h3:             1em;
$base-h4:             1em;
$base-h5:             1em;
$base-h6:             1em;

//Need to work out vertical rhythm

/* =============================================================================

  $SPACING

============================================================================= */

$object-spacing: 1em;
$object-spacing-double: ($object-spacing * 2);
$object-spacing-triple: ($object-spacing * 3);



